html {
    background-color: rgb(223, 223, 255);
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/jetbrainsmono.ttf") format("truetype");
}

n {
    font-family: 'JetBrains Mono';
    font-size: 24px;
}